.dashboard-page {
  max-width: 100%;
  margin: 0 auto;
}

.greeting-section {
  margin-bottom: 40px;
  text-align: left;
}

.greeting-section h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1a1a2e;
  margin-bottom: 5px;
}

.greeting-section p {
  color: #666;
  font-size: 0.9rem;
}

/* Stats */
.stat-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  margin-bottom: 40px;
}

.stat-card {
  background: white;
  border-radius: 12px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.stat-icon {
  font-size: 1rem;
  padding: 10px;
  border-radius: 7px;
  width: 45px;
  color: #666;
}

.stat-icon.notes {
  background: #f5f0ff;
}

.stat-icon.shares {
  background: #eddfff;
}

.stat-icon.time {
  background: #fff7f0;
}

.stat-label {
  font-size: 0.8rem;
  color: #999;
  text-transform: uppercase;
  text-align: left;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a1a2e;
  text-align: left;
}

.section {
  margin-bottom: 35px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.section-header h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #1a1a2e;
}

.section-header a {
  color: #6b3fa0;
  text-decoration: none;
  font-size: 0.8rem;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 10px;
}

.notes-card {
  background: white;
  border-radius: 12px;
  padding: 10px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.168);
  cursor: pointer;
  transition: transform 0.2s;
}

.note-card:hover {
  transform: translateY(-2px);
}

.note-card-header {
  display: flex;
  justify-content: space-between;  /* Pushes left and right */
  align-items: center;
  margin-bottom: 10px;
}

.note-tag {
  font-size: 0.7rem;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
  background: #fde8e8;
  color: #f32121;
}

.note-tag.idea {
  background: #fff3e0;
  color: #ff9800;
}

.note-tag.research {
  background: #f3e5f5;
  color: #9c27b0;
}

.notes-card h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a2e;
  margin: 12px 0 8px;
  text-align: left;
}

.notes-card p {
  font-size: 0.85rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 12px;
  text-align: left ;
}

.note-time {
  font-size: 0.8rem;
  color: #999;
}


.shared-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.shared-table thead {
  background: #eeecf9;
}

.shared-table th {
  text-align: left;
  padding: 12px 16px;
  font-size: 0.75rem;
  color: #999;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
}

.shared-table td {
  padding: 14px 16px;
  font-size: 0.9rem;
  color: #333;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

/* FAB */
.fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #6b3fa0;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(107, 63, 160, 0.4);
  transition: transform 0.2s;
}

.fab:hover {
  transform: scale(1.1);
}


